body {
    position: relative;
    font-family: "Comic Sans MS", Arial, cursive;
    font-weight: bold;
    font-size: 12px;
    /*background-image: url('../images/food-wallpaper.jpg');*/
}

a {
    color: black;
}

a:hover {
    /*text-decoration: none;*/
    cursor: pointer;
}

/*#background-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.65;
}
*/
.main-container {
    max-width: 1700px;
    height: 1000px;
    width: 100%;
    margin: 10px;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.main-title {
    font-size: 35px;
}

.logo-container {
    text-align: center;
}

.logo-container * {
    height: 80px;
    display: inline-block;
    margin: 10px;
}

.logo img {
    max-height: 70px;
    margin: 5px 10px 5px 50px;
}

.menu {
    display: inline-block;
    /*width: 400px;*/
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    position: relative;
}

.nav-menu {
    display: inline-block;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
}

.menu ul li a {
    padding-right: 5px; 
}

.slider-container {
    max-height: 100px;
    position: relative;
}

.lang.right {
    padding-top: 20px;
}

.carousel-img {
    max-height: 350px;
}

#main-carousel {
    width: 580px;
    max-height: 350px;
    position: relative;
    display: inline-block;
}

.input-group {
    padding: 5px 0;
}

.container .breadcrumb {
    background-color: transparent;
}

.container {
    position: relative;
}

.group-container {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 0;
    margin: 5px 0;
}

.left-nav {
    margin-right: 10px;
}

.most-liked .group-container {
    border: none;
}

.thumbnail img {
    width: 210px;
    height: 130px;
}

.main-content {
    position: relative;
    /*display: inline-block;*/
}

.recipe {
    display: inline-table;
}

.recipe-title {
    font-size: 14px;
    text-decoration: underline;
    padding-bottom: 15px;
}

.recipe-content {
    padding: 10px;
}

.share-icon img {
    display: block;
    height: 30px;
    width: 30px;
}

.footer {
    margin-top: 30px;
}

.footer .table td, .footer .table tr, .footer .table th {
    color: black;
    border: none;
}

.table-footer tbody tr td {
    width: 7%;
}

.special-icon {
    padding-left: 5px;
}

.recipe .thumbnail.left {
    margin-bottom: 0;
    margin-top: 20px;
}

.title-page {
    margin-top: 0px;
    margin-bottom: 20px;
}

.stars {
    position: relative;
    display: inline-block;
}

.recipe-title-thumb {
    display: block;
}

.add-icon a .glyphicon {
    font-size: 40px;
}

.add-icon a {
    color: green;
}

.recipe-rating {
    padding-top: 10px;
}