<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <title>Vkusotiiki-bg</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angularjs-slider/dist/rzslider.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css" />
    <link rel="stylesheet" href="bower_components/angular-rateit/dist/ng-rateit.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/style.css">
    <!-- endbuild -->
</head>

<body ng-app="vkusotiikiBgApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Add your site or application content here -->
    <div id="container">
        <div class="header">
            <!-- First row of the page -->
            <div class="logo-container navbar navbar-default ">
                <div class="logo left">
                    <img src="images/logo.jpg" alt="Logo">
                </div>
                <div class="center">
                    <img src="/images/baner.jpg" alt="" height="60px">
                </div>
                <div class="logo right">
                    <img src="images/logo.jpg" alt="Logo">
                </div>
            </div>
            <!--     </div>
    <div class="header"> -->
            <div class="navbar navbar-default" role="navigation">
                <div class="">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- <a class="navbar-brand" ui-sref="home">vkusotiikiBg</a> -->
                    </div>
                    <div class="collapse navbar-collapse" id="js-navbar-collapse">
                        <!-- TO DO -->
                        <ul class="nav navbar-nav">
                            <li ui-sref-active="active"><a ui-sref="home.landing">Начало</a></li>
                            <li ui-sref-active="active"><a ui-sref="home.map">Карта на България</a></li>
                            <li ui-sref-active="active"><a ui-sref="home.recipies.list">Рецепти</a></li>
                            <li ui-sref-active="active"><a ui-sref="home.recipies.new">Нови рецепти</a></li>
                            <li ui-sref-active="active" es-is-logged-in><a ui-sref="home.recipies.my">Моите рецепти</a></li>
                            <li ui-sref-active="active"><a ui-sref="home.recipies.favourites" es-is-logged-in>Любими рецепти</a></li>
                            <li ui-sref-active="active"><a ui-sref="home.about">За нас</a></li>
                            <li ui-sref-active="active"><a ui-sref="home.contacts">Контакти</a></li>
                            <!--<li ui-sref-active="active"><a ui-sref="offeredRecipes" style="color:red;">Предлагани</a></li>-->
                            <!-- <li ui-sref-active="active" class="right"><a ui-sref="logOut">Изход</a></li> -->
                            <li class="right" ng-if="state.user" ng-click="logOut()"><a>Изход</a></li>
                            <li ui-sref-active="active" class="right" ng-if="!state.user"><a ui-sref="register">Регистрация</a></li>
                            <li ui-sref-active="active" class="right" ng-if="state.user"><a ui-sref="editOrdinaryUserProfile">{{state.user.name}}</a></li>
                            <li ui-sref-active="active" class="right" ng-if="!state.user"><a ui-sref="login">Вход</a></li>
                            <li ui-sref-active="active">
                                <div class="input-group">
                                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Търсене">
                                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="advancedSearchBtn">
                    Разширено търсене
                                    </button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container whole">
            <div class="">
                <breadcrumbs values="breadCrumbs"></breadcrumbs>
                <div ui-view=""></div>
            </div>
        </div>
        <div class="footer">
            <table class="table table-footer">
                <thead>
                    <tr>
                        <th class="table-footer-th">Области</th>
                        <th class="table-footer-th">Навигация</th>
                        <th class="table-footer-th-social">Сподели</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <table class="table col-md-3 table-cities">
                                <tbody>
                                    <tr>
                                        <td><a href="#">София</a></td>
                                        <td><a href="#">Велико Търново</a></td>
                                        <td><a href="#">Пловдив</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Варна</a></td>
                                        <td><a href="#">Стара Загора</a></td>
                                        <td><a href="#">Пазарджик</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Бургас</a></td>
                                        <td><a href="#">Благоевград</a></td>
                                        <td><a href="#">Плевен</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table class="table col-md-3">
                                <tbody>
                                    <tr>
                                        <td class="footerlink"><a ui-sref="home.map">Карта на България</a></td>
                                        <td class="footerlink"><a ui-sref="home.recipies.list">Рецепти</a></td>
                                    </tr>
                                    <tr>
                                        <td class="footerlink"><a ui-sref="home.about">За нас</a></td>
                                        <td class="footerlink"><a ui-sref="home.contacts">Контакти</a></td>
                                    </tr>
                                    <tr>
                                        <td class="footerlink"><a ui-sref="home.recipies.new">Нови рецепти</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table class="table col-md-3 text-center">
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="https://www.facebook.com/" class="share-icon"><img src="images/fb.png" alt="Facebook" class="center">Facebook</a>
                                        </td>
                                        <td>
                                            <a href="https://plus.google.com/" class="share-icon"><img src="images/g.png" alt="Google +" class="center">Google +</a>
                                        </td>
                                        <td>
                                            <a href="https://twitter.com/" class="share-icon"><img src="images/tw.png" alt="Twitter" class="center">Twitter</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <p id="copyright">© Vkusotiiki-bg 2017 г. Всички права запазени. </p>
            </div>
        </div>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
        ! function(A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
        }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
        </script>
        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/angularjs-slider/dist/rzslider.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/firebase/firebase.js"></script>
        <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
        <script src="bower_components/js-data/dist/js-data.js"></script>
        <script src="bower_components/js-data-firebase/dist/js-data-firebase.js"></script>
        <script src="bower_components/js-data-http/dist/js-data-http.js"></script>
        <script src="bower_components/js-data-angular/dist/js-data-angular.js"></script>
        <script src="bower_components/angular-rateit/dist/ng-rateit.js"></script>
        <script src="bower_components/lodash/lodash.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/map.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/contacts.js"></script>
        <script src="scripts/controllers/recipes.js"></script>
        <script src="scripts/controllers/newRecipes.js"></script>
        <script src="scripts/controllers/offered.js"></script>
        <script src="scripts/controllers/myRecipes.js"></script>
        <script src="scripts/controllers/favouriteRecipes.js"></script>
        <script src="scripts/controllers/newRecipe.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/leftNavigation.js"></script>
        <script src="scripts/controllers/chooseUserRegistration.js"></script>
        <script src="scripts/controllers/registrationController.js"></script>
        <script src="scripts/controllers/editOrdinaryUserProfile.js"></script>
        <script src="scripts/controllers/recipeDetails.js"></script>
        <script src="scripts/controllers/recipePreview.js"></script>
        <script src="scripts/directives/leftNavigationDirective.js"></script>
        <script src="scripts/directives/breadcrumbs.js"></script>
        <script src="scripts/directives/namedNgIf.js"></script>
        <script src="scripts/directives/recipePreviewBasic.js"></script>
        <script src="scripts/directives/recipePreviewЕxtended.js"></script>
        <script src="scripts/directives/googleMaps.js"></script>
        <script src="scripts/services/User.js"></script>
        <script src="scripts/services/Authentication.js"></script>
        <script src="scripts/services/state.js"></script>
        <script src="scripts/services/Recipe.js"></script>
        <script src="scripts/services/Category.js"></script>
        <script src="scripts/services/Region.js"></script>
        <script src="scripts/services/Rating.js"></script>
      <script src="scripts/services/Dish.js"></script>

      <!-- endbuild -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASrwZ5hSZahiv-u09xV3ugI8G8k_a6D2U"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
        $(document).ready(function() {
            $("#advancedSearchBtn").click(function() {
                $("#advancedSearchDiv").toggle();
            });
        });
        </script>
</body>

</html>
