<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase ./ # if hosting api files on root use only /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]

</IfModule>
