<div class="about container col-md-8">
    <div class="contacts-page-container">
        <div class="contacts-inner-container inner-container">
            <div class="about-us-text">
                <h4 align="left">Идеята за сайта</h4>
                <p>
                    Както всеки човек може да каже, че живеем във века на технологиите, така и ние може да го потвърдим с не малко примери от нашия живот и ежедневие. Но до тук с приликите. Идеята за нашия проект е да се създаде сайт, чрез който да се съберат традиционни български ястия от различни краища на нашата прекрасна родина. Знаем, че България се слави в света със саламуреното сирене, суджука, шарената сол, мусаката, таратора, пататника, баницата, мекиците и куп други ястия, които предлага нашата кухня.
                </p>
                <p>
                    Проектът „Традиционни български ястия“ има за цел да събере, съхрани и разпространи рецепти на автентични ястия от различните краища на България и уникалността на проекта се крие именно в самата идея. Знаем, че повечето от хората отричат всичко, свързано с миналото и искат да са модерни, да са в крак с модата, и да се хранят с пържени картофки от мола, торти от „Неделя“ и т.н., но тези хора не са усетили духът на българското в себе си, защото не са опитали онези бабини рецепти, които са непреходни през поколенията и винаги ще са актуални
                </p>
                <p>
                    Именно заради това ние Ви представяме своята идея за запазване на неповторимите български ястия. Основната функция на сайта ще е да се събират рецепти. Това ще се случва за различните области на България, защото всяка област има своите традиционни ястия. Рецептите ще са разделени в няколко групи:
                    <ul>
                        <li> супи </li>
                        <li>салати </li>
                        <li> предястия </li>
                        <li> основни </li>
                        <li> десерти </li>
                        <li> други </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="contacts-inner-container inner-container  ">
            <div class="about-us-text">
                <h4 align="left">Кои сме ние</h4>
                <p>
                    Слави Кадиев завършва последната си научна степен по "Икономика и финанси" в СУ "Св. Климент Охридски" в средата на 2008 г. Веднага след това взима участие в международен конкурс "Историята в настоящето", който цели да открие и припомни на обществото забравените открития от миналото с широко приложение в наши дни. На конкурса взима специална награда на фондация "Творческо минало", която го наема за главен финансов мениджър по проекта "С Родопите в сърцето", който популяризира красотата на Родопите сред българите - 01.11.2008-30.09.2009, 398 800,00 лв. През 2010г участва като единствен финансов мениджър по проекта "Жива съкровищница – ритмите на България", където натрупва голям опит. През 2015г отново е главен мениджър на финансите по съвместния проект "Етнографията на Родопите" с доц. Димитров, проф. Ферезлийска и проф. Игнатов.
                </p>
                <p>
                    Проф. Милка Ферезлийска завършва успешно „Управление и администрация“ в СУ "Св. Климент Охридски" през 2007г. От 2006г започва да трупа опит управлението на проекти като наблюдава развитието на проекта "Весело звънче" за организиране на училищните дейности за първолаци - 01.05.2006-15.05.2007, 195 00,00 лв, както и "Моето училище" - проект за подобряване на материалната база в началните училища - 01.10.2006-31.03.2007, 978 500,00 лв. През 2010г участва като консултант в проекта "Жива съкровищница – ритмите на България" съвместно с доц. Димитров и проф. д-р С. Кадиев. След успешното завършване на проекта и пожънатите резултати тримата заедно с проф. Св. Игнатов измислят идеята, събират екип и изпълняват проекта "Етнографията на Родопите".
                </p>
                <p>
                    Доц. Христиан Димитров е специалист по мениджмънт с профил "Проектен мениджмънт". След като завършва в СУ „Св. Климент Охридски“ през 2006 г. работи като мениджър на следните проекти:
                    <ol>
                        <li>Проект за иновации в Кулинарията "Приложение на ИКТ в сферата на храните", 01.10.2006-31.03.2007, 249 865,00 лв.</li>
                        <li>Проект за запазване а фолклора на България "Жива съкровищница – ритмите на България", 05.02.2009-05.03.2010, 189 450,00 лв.</li>
                        <li> Проект за възродяване и представяне на забравено нематериално културно наследство на България "Етнографията на Родопите" – 31.08.2013-31.08.2015, 376 973 лв.</li>
                    </ol>
                </p>
                <p>
                    Светимир Игнатов получава професорска степен по специалността "Връзки с обществеността" към СУ "Св. Климент Охридски" през 2006г. В творческата си дейност отделя най-много внимание на медията и рекламата. В дългогодишния си опит той има редица участия в различни по големина, тематика и обхват проекти и програми като PR мениджър, както следва:
                    <ol>
                        <li>Проект "С Родопите в сърцето" за популяризиране на красотата на Родопите сред българите, 01.11.2008-30.09.2009, 398 800,00 лв.</li>
                        <li> Проект за запазване а фолклора на България "Жива съкровищница – ритмите на България", 05.02.2009-05.03.2010, 189 450,00 лв</li>
                        <li>Проект "Съхранение на песенното творчество на България", 07.08.2013-05.09.2014, 189 450,00 лв.</li>
                        <li> Проект за възродяване и представяне на забравено нематериално културно наследство на България "Етнографията на Родопите" – 31.08.2013-31.08.2015, 376 973 лв.
                        </li>
                    </ol>
                </p>
            </div>
            <table class="table about-us-photos">
                <tbody>
                    <tr>
                        <td class="col-sm-3" align="center">
                            <img height="200px" src="/images/about/slavi.jpg" alt="">
                            <div class="text-center">
                                <p>Слави Кадиев</p>
                            </div>
                        </td>
                        <td class="col-sm-3" align="center">
                            <img height="200px" src="/images/about/milka.jpg" alt="">
                            <div class="text-center">
                                <p>Милка Ферезлийска</p>
                            </div>
                        </td>
                        <td class="col-sm-3" align="center">
                            <img height="200px" src="/images/about/hristian.jpg" alt="">
                            <div class="text-center">
                                <p>Христиан Димитров</p>
                            </div>
                        </td>
                        <td class="col-sm-3" align="center">
                            <img height="200px" src="/images/about/svetimir.jpg" alt="">
                            <div class="text-center">
                                <p align="center">Светимир Игнатов</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <script>
            function initialize() {
                var coordinates = {
                    lat: 42.67828,
                    lng: 23.29960
                };
                var mapProp = {
                    center: coordinates,
                    zoom: 15,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                var map = new google.maps.Map(document.getElementById("contactsMap"), mapProp);
                var marker = new google.maps.Marker({
                    position: coordinates,
                    map: map,
                    title: 'Hello World!'
                });

                infowindow = new google.maps.InfoWindow({
                    content: '<strong>бул. България №11</strong><br>България<br>1000 София<br>'
                });
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map, marker);
                });
                infowindow.open(map, marker);
            }

            initialize();
            </script>
        </div>
    </div>
</div>
