<breadcrumbs values="{{ breadcrumbs }}"></breadcrumbs>

<div class="container">
  <div class="contacts-page-container post-breadcrumbs">
      <div class="contacts-inner-container borderly-named-contacts">
        <h6>За нас</h6>
        <div class="contacts-inner-container inner-container borderly-named-contacts inner-contacts about-us">
          <h6>Идеята за сайта</h6>
          <div class="about-us-text">
            <p>Както всеки човек може да каже, че живеем във века на технологиите, така и ние може да го потвърдим с не малко примери от нашия живот и ежедневие. Но до тук с приликите. Идеята за нашия проект е да се създаде сайт, чрез който да се съберат традиционни български ястия от различни краища на нашата прекрасна родина. Знаем, че България се слави в света със саламуреното сирене, суджука, шарената сол, мусаката, таратора, пататника, баницата, мекиците и куп други ястия, които предлага нашата кухня.</p>
            <p>Проектът „Традиционни български ястия“ има за цел да събере, съхрани и разпространи рецепти на автентични ястия от различните краища на България и уникалността на проекта се крие именно в самата идея. Знаем, че повечето от хората отричат всичко, свързано с миналото и искат да са модерни, да са в крак с модата, и да се хранят с пържени картофки от мола, торти от „Неделя“ и т.н., но тези хора не са усетили духът на българското в себе си, защото не са опитали онези бабини рецепти, които са непреходни през поколенията и винаги ще са актуални.</p>
          </div>
        </div>
        <div class="contacts-inner-container inner-container borderly-named-contacts inner-contacts longer-email">
          <h6>Кои сме ние?</h6>
          <div class="about-us-text">
            <p>Както всеки човек може да каже, че живеем във века на технологиите, така и ние може да го потвърдим с не малко примери от нашия живот и ежедневие. Но до тук с приликите. Идеята за нашия проект е да се създаде сайт, чрез който да се съберат традиционни български ястия от различни краища на нашата прекрасна родина. Знаем, че България се слави в света със саламуреното сирене, суджука, шарената сол, мусаката, таратора, пататника, баницата, мекиците и куп други ястия, които предлага нашата кухня.</p>
            <p>Проектът „Традиционни български ястия“ има за цел да събере, съхрани и разпространи рецепти на автентични ястия от различните краища на България и уникалността на проекта се крие именно в самата идея. Знаем, че повечето от хората отричат всичко, свързано с миналото и искат да са модерни, да са в крак с модата, и да се хранят с пържени картофки от мола, торти от „Неделя“ и т.н., но тези хора не са усетили духът на българското в себе си, защото не са опитали онези бабини рецепти, които са непреходни през поколенията и винаги ще са актуални.</p>
          </div>
          <table class="table about-us-photos">
            <tbody>
              <tr>
                <td class="col-sm-3">
                  <div id="image">
                    <p>снимка</p>
                  </div>
                  <div class="text-center">
                    <p>Слави Кадиев</p>
                  </div>
                </td>
                <td class="col-sm-3">
                  <div id="image">
                    <p>снимка</p>
                  </div>
                  <div class="text-center">
                    <p>Милка Ферезлийска</p>
                  </div>
                </td>
                <td class="col-sm-3">
                  <div id="image">
                    <p>снимка</p>
                  </div>
                  <div class="text-center">
                    <p>Христиан Димитров</p>
                  </div>
                </td>
                <td class="col-sm-3">
                  <div id="image">
                    <p>снимка</p>
                  </div>
                  <div class="text-center">
                    <p>Светимир Игнатов</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div>
  <div>
<div>

<script>
function initialize() {
  var coordinates = {lat: 42.67828, lng: 23.29960};
  var mapProp = {
    center: coordinates,
    zoom: 15,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  var map = new google.maps.Map(document.getElementById("contactsMap"), mapProp);
  var marker = new google.maps.Marker({
    position: coordinates,
    map: map,
    title: 'Hello World!'
  });

  infowindow = new google.maps.InfoWindow({content:'<strong>бул. България №11</strong><br>България<br>1000 София<br>'});
  google.maps.event.addListener(marker, 'click', function (){
    infowindow.open(map, marker);
  });
  infowindow.open(map, marker);
}

initialize();
</script>

