<div class="login-page-container">
    <div class="header-login">Привет</div>
    <div class="login-inner-container borderly-named-login">
        <h6>    Регистрация</h6>
        <div class="loging-inner-container-header">
            <p>Добре дошли във нашият сайт !</p>
            <p>За да се регистрирате ще ни е необходима малко информация за Вас ...</p>
            <p>Вие сте:</p>
        </div>
        <div class="loging-inner-container-radiogroup">
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">любител готвач</label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">готвач</label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">готвач по неволя</label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">представител на НПО (Неправителствена организация)</label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios5" value="option5">представител на ресторант</label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios16" value="option6">нито едно от тях</label>
            </div>
        </div>
        <div class="loging-inner-container-button-next">
            <button type="button" class="btn btn-success">Продължи</button>
        </div>
    </div>
</div>
</div>
