<left-navigation></left-navigation>
<table width="77%">
    <thead>
        <tr>
            <th>
                <h3 class="title-page text-center">Любими рецепти</h3> </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="recipes">
                    <div class="scroll">
                        <recipe-preview-extended ng-repeat="recipe in favourites" recipe="recipe"></recipe-preview-extended>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
