<div class="main-content col-md-8">
  <div class="row">
    <h3 class="title-page text-center">Любими рецепти</h3>
    <div class="recipes">
      <div class="row group-container">
        <div class="col-xs-6 col-md-12 recipe">
          <a ui-sref="weeklyRecipe" class="thumbnail left">
            <img src="images/recipes/sarmi.jpg" alt="Рецепта на седмицата">
          </a>
          <div class="recipe-content col-xs-4 col-md-8">
            <div class="recipe-title">
              <a ui-sref="#" >Запечени сарми - асорти</a>
              <div class="btn-group special-icon" role="group">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
              </div>
              <div class="right">
                <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span>
              </div>
            </div>
            <div class="recipe-text">
              <p>1. Нарежете на дребни кубчета или на ивички месото от пуйката, свинското, наденицата и пушените гърди. Разбъркайте ги с олиото, червения пипер, стритата люта чушка и малко сол. </p>
              <p>2. С остър нож отрежете твърдите части на всеки лист от зелката и сложете по малко от плънката. Завийте на сарми.  </p>
            </div>
          </div>
        </div>
          <div class="col-xs-6 col-md-12 center btn-toolbar recipe-rating" role="toolbar">
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <p>3.1</p>
            </div>
            <a ui-sref="weeklyRecipe" class="right"><p>Виж повече >></p></a>
          </div>
      </div>

      <div class="row group-container">
        <div class="col-xs-6 col-md-12 recipe">
          <a ui-sref="weeklyRecipe" class="thumbnail left">
            <img src="images/recipes/chushki.jpg" alt="Рецепта на седмицата">
          </a>
          <div class="recipe-content col-xs-4 col-md-8">
            <div class="recipe-title">
              <a ui-sref="#" >Пълнени чушки с ориз</a>
              <div class="btn-group special-icon" role="group">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
              </div>
              <div class="right">
                <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span>
              </div>
            </div>
            <div class="recipe-text">
              <p>1. Нарежете на дребни кубчета или на ивички месото от пуйката, свинското, наденицата и пушените гърди. Разбъркайте ги с олиото, червения пипер, стритата люта чушка и малко сол. </p>
              <p>2. С остър нож отрежете твърдите части на всеки лист от зелката и сложете по малко от плънката. Завийте на сарми.  </p>
            </div>
          </div>
        </div>
          <div class="col-xs-6 col-md-12 center btn-toolbar recipe-rating" role="toolbar">
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <p>3.1</p>
            </div>
            <a ui-sref="weeklyRecipe" class="right"><p>Виж повече >></p></a>
          </div>
      </div>

      <div class="row group-container">
        <div class="col-xs-6 col-md-12 recipe">
          <a ui-sref="weeklyRecipe" class="thumbnail left">
            <img src="images/recipes/banica.jpg" alt="Рецепта на седмицата">
          </a>
          <div class="recipe-content col-xs-4 col-md-8">
            <div class="recipe-title">
              <a ui-sref="#" >Баница със сирене</a>
              <div class="btn-group special-icon" role="group">
                <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
              </div>
              <div class="right">
                <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span>
              </div>
            </div>
            <div class="recipe-text">
              <p>1. Нарежете на дребни кубчета или на ивички месото от пуйката, свинското, наденицата и пушените гърди. Разбъркайте ги с олиото, червения пипер, стритата люта чушка и малко сол. </p>
              <p>2. С остър нож отрежете твърдите части на всеки лист от зелката и сложете по малко от плънката. Завийте на сарми.  </p>
            </div>
          </div>
        </div>
          <div class="col-xs-6 col-md-12 center btn-toolbar recipe-rating" role="toolbar">
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <p>3.1</p>
            </div>
            <a ui-sref="weeklyRecipe" class="right"><p>Виж повече >></p></a>
          </div>
      </div>


      <div class="row group-container">
        <div class="col-xs-6 col-md-12 recipe">
          <a ui-sref="weeklyRecipe" class="thumbnail left">
            <img src="images/recipes/sarmi.jpg" alt="Рецепта на седмицата">
          </a>
          <div class="recipe-content col-xs-4 col-md-8">
            <div class="recipe-title">
              <a ui-sref="#" >Запечени сарми - асорти</a>
              <div class="btn-group special-icon" role="group">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
              </div>
              <div class="right">
                <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span>
              </div>
            </div>
            <div class="recipe-text">
              <p>1. Нарежете на дребни кубчета или на ивички месото от пуйката, свинското, наденицата и пушените гърди. Разбъркайте ги с олиото, червения пипер, стритата люта чушка и малко сол. </p>
              <p>2. С остър нож отрежете твърдите части на всеки лист от зелката и сложете по малко от плънката. Завийте на сарми.  </p>
            </div>
          </div>
        </div>
          <div class="col-xs-6 col-md-12 center btn-toolbar recipe-rating" role="toolbar">
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <p>3.1</p>
            </div>
            <a ui-sref="weeklyRecipe" class="right"><p>Виж повече >></p></a>
          </div>
      </div>

      <div class="row group-container">
        <div class="col-xs-6 col-md-12 recipe">
          <a ui-sref="weeklyRecipe" class="thumbnail left">
            <img src="images/recipes/chushki.jpg" alt="Рецепта на седмицата">
          </a>
          <div class="recipe-content col-xs-4 col-md-8">
            <div class="recipe-title">
              <a ui-sref="#" >Пълнени чушки с ориз</a>
              <div class="btn-group special-icon" role="group">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
              </div>
              <div class="right">
                <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span>
              </div>
            </div>
            <div class="recipe-text">
              <p>1. Нарежете на дребни кубчета или на ивички месото от пуйката, свинското, наденицата и пушените гърди. Разбъркайте ги с олиото, червения пипер, стритата люта чушка и малко сол. </p>
              <p>2. С остър нож отрежете твърдите части на всеки лист от зелката и сложете по малко от плънката. Завийте на сарми.  </p>
            </div>
          </div>
        </div>
          <div class="col-xs-6 col-md-12 center btn-toolbar recipe-rating" role="toolbar">
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <p>3.1</p>
            </div>
            <a ui-sref="weeklyRecipe" class="right"><p>Виж повече >></p></a>
          </div>
      </div>

      <div class="row group-container">
        <div class="col-xs-6 col-md-12 recipe">
          <a ui-sref="weeklyRecipe" class="thumbnail left">
            <img src="images/recipes/banica.jpg" alt="Рецепта на седмицата">
          </a>
          <div class="recipe-content col-xs-4 col-md-8">
            <div class="recipe-title">
              <a ui-sref="#" >Баница със сирене</a>
              <div class="btn-group special-icon" role="group">
                <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
              </div>
              <div class="right">
                <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span>
              </div>
            </div>
            <div class="recipe-text">
              <p>1. Нарежете на дребни кубчета или на ивички месото от пуйката, свинското, наденицата и пушените гърди. Разбъркайте ги с олиото, червения пипер, стритата люта чушка и малко сол. </p>
              <p>2. С остър нож отрежете твърдите части на всеки лист от зелката и сложете по малко от плънката. Завийте на сарми.  </p>
            </div>
          </div>
        </div>
          <div class="col-xs-6 col-md-12 center btn-toolbar recipe-rating" role="toolbar">
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <p>3.1</p>
            </div>
            <a ui-sref="weeklyRecipe" class="right"><p>Виж повече >></p></a>
          </div>
      </div>


    </div>

  </div>
</div>
