<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div> -->

<div class="main-content col-md-8">

  <!-- BEGIN Carousel -->
  <div id="main-carousel" class="carousel slide center" data-ride="carousel"  data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#main-carousel" data-slide-to="1"></li>
      <li data-target="#main-carousel" data-slide-to="2"></li>
      <li data-target="#main-carousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="center carousel-img" src="images/food-wallpaper.jpg" alt="Chania">
        <div class="carousel-caption">
          <h3>Chania</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>
      </div>

      <div class="item">
        <img class="center carousel-img" src="images/food-wallpaper.jpg" alt="Chania">
        <div class="carousel-caption">
          <h3>Chania</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>
      </div>

      <div class="item">
        <img class="center carousel-img" src="images/food-wallpaper.jpg" alt="Flower">
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>

      <div class="item">
        <img class="center carousel-img" src="images/food-wallpaper.jpg" alt="Flower">
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- END Carousel -->


  <div class="row marketing">
    <h3>Рецепти</h3>
    <div class="recipes">
      <div class="row group-container">
        <div class="col-xs-6 col-md-12 recipe">
          <a ui-sref="weeklyRecipe" class="thumbnail left">
            <img src="images/recipes/sarmi.jpg" alt="Рецепта на седмицата">
          </a>
          <div class="recipe-content col-xs-4 col-md-8">
            <div class="recipe-title">
              <a ui-sref="#" >Запечени сарми - асорти</a>
              <div class="btn-group special-icon" role="group">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
              </div>
            </div>
            <div class="recipe-text">
              <p>1. Нарежете на дребни кубчета или на ивички месото от пуйката, свинското, наденицата и пушените гърди. Разбъркайте ги с олиото, червения пипер, стритата люта чушка и малко сол. </p>
              <p>2. С остър нож отрежете твърдите части на всеки лист от зелката и сложете по малко от плънката. Завийте на сарми.  </p>
               <a ui-sref="weeklyRecipe" class="right"><p>Виж повече >></p></a>
            </div>
          </div>
        </div>
          <div class="col-xs-6 col-md-12 center btn-toolbar " role="toolbar">
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
          </div>
      </div>

      <div class="row group-container">
        <div class="col-xs-6 col-md-12 recipe">
          <a ui-sref="weeklyRecipe" class="thumbnail left">
            <img src="images/recipes/chushki.jpg" alt="Рецепта на седмицата">
          </a>
          <div class="recipe-content col-xs-4 col-md-8">
            <div class="recipe-title">
              <a ui-sref="#" >Пълнени чушки с ориз</a>
              <div class="btn-group special-icon" role="group">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
              </div>
            </div>
            <div class="recipe-text">
              <p>1. Нарежете на дребни кубчета или на ивички месото от пуйката, свинското, наденицата и пушените гърди. Разбъркайте ги с олиото, червения пипер, стритата люта чушка и малко сол. </p>
              <p>2. С остър нож отрежете твърдите части на всеки лист от зелката и сложете по малко от плънката. Завийте на сарми.  </p>
               <a ui-sref="weeklyRecipe" class="right"><p>Виж повече >></p></a>
            </div>
          </div>
        </div>
          <div class="col-xs-6 col-md-12 center btn-toolbar " role="toolbar">
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
          </div>
      </div>

      <div class="row group-container">
        <div class="col-xs-6 col-md-12 recipe">
          <a ui-sref="weeklyRecipe" class="thumbnail left">
            <img src="images/recipes/banica.jpg" alt="Рецепта на седмицата">
          </a>
          <div class="recipe-content col-xs-4 col-md-8">
            <div class="recipe-title">
              <a ui-sref="#" >Баница със сирене</a>
              <div class="btn-group special-icon" role="group">
                <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
              </div>
            </div>
            <div class="recipe-text">
              <p>1. Нарежете на дребни кубчета или на ивички месото от пуйката, свинското, наденицата и пушените гърди. Разбъркайте ги с олиото, червения пипер, стритата люта чушка и малко сол. </p>
              <p>2. С остър нож отрежете твърдите части на всеки лист от зелката и сложете по малко от плънката. Завийте на сарми.  </p>
               <a ui-sref="weeklyRecipe" class="right"><p>Виж повече >></p></a>
            </div>
          </div>
        </div>
          <div class="col-xs-6 col-md-12 center btn-toolbar " role="toolbar">
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
            <div class="btn-group" role="group">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
          </div>
      </div>

    </div>

  </div>
</div>
