<left-navigation></left-navigation>
<table width="79%">
    <thead>
        <tr>
            <th>
                <div class="inner-title text-center">
                    <h3 class="title-page text-center">Моите рецепти</h3>
                    <div class="btn-group add-icon" role="group">
                        <a ui-sref="home.recipies.create">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            <p>Нова рецепта</p>
                        </a>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="scroll">
                    <div class="recipes">
                        <recipe-preview-extended ng-repeat="recipe in recipies" recipe="recipe"></recipe-preview-extended>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
