<left-navigation></left-navigation>
<table width="79%">
    <thead>
        <tr>
            <th>
                <h3 class="title-page text-center">Нови рецепти</h3></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="scroll">
                    <div class="recipes">
                        <recipe-preview-extended ng-repeat="recipe in recipies" recipe="recipe"></recipe-preview-extended>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
