<breadcrumbs values="{{ breadcrumbs }}"></breadcrumbs>
<left-navigation></left-navigation>

<div class="main-content col-xs-9 row">
  <div class="row">
    <h3 class="title-page text-center">Добави рецепта</h3>
    <div class="recipes" style="border: 1px solid red;">
      <table class="table">
        <tbody>
          <tr>
            <td style="border: 1px solid red;">
             <div class="images">
              <div id="image">
                <p>снимка</p>
                <!-- <img id="image" src="images/logo.jpg"> -->
              </div>
              <div class="text-center">
                <p>Заглавна снимка</p>
              </div>
              <p>Още снимки:</p>
              <div id="image">
                <p>снимка</p>
              </div>
              <div id="image">
                <p>снимка</p>
              </div>
              <div id="image">
                <p>снимка</p>
              </div>

              <div class="add-more">
                <p class="add-more-title">Добави снимка:</p>
                <div class="btn-group btn-group-sm" role="group">
                  <button class="btn btn-default btn-success" type="button">
                    <span class="glyphicon glyphicon-save"></span>
                    Прикачи
                  </button>
                </div>
              </div>

              <div class="add-more">
                <p class="add-more-title">Добави видео:</p>
                <div class="btn-group btn-group-sm add-more-video" role="group">
                  <button class="btn btn-default btn-success" type="button">
                    <span class="glyphicon glyphicon-save"></span>
                    Прикачи
                  </button>
                </div>
              </div>


             </div>
            </td>

            <td style="border: 1px solid red;">
              <table>
                <tbody>
                  <tr>
                    <td>data</td>
                    <td>data</td>
                  </tr>
                  <tr>
                    <td>data</td>
                    <td>data</td>
                  </tr>
                </tbody>
              </table>

            </td>

          </tr>
        </tbody>
      </table>


    </div>

  </div>
</div>
