<!--<breadcrumbs values="{{ breadcrumbs }}"></breadcrumbs>-->
<left-navigation></left-navigation>
<table width="77%">
    <thead>
        <tr>
            <th>
                <h3><center>Рецепти</center></h3></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="scroll">
                    <div class="recipes">
                        <recipe-preview-extended ng-repeat="recipe in recipes" recipe="recipe"></recipe-preview-extended>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
