<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<left-navigation></left-navigation>
<div class="main-content col-xs-9 row">
    <div class="row recipe-details">
        <h2 class="title-page text-center">{{recipe.title}}
        <span class="glyphicon glyphicon-star favourite"
              ng-if="state.user && state.user.likes(recipe.id)"
              ng-click="removeFromFavourites()">
        </span>
        <span class="glyphicon glyphicon-star-empty favourite"
            ng-if="state.user && !state.user.likes(recipe.id)"
            ng-click="addToFavourites(recipe.id)">
        </span>
    </h2>
        <a ui-sref="#"><h4 class="title-page text-center styled-a">{{author.name}}</h4></a>
        <div class="recipes">
            <table class="table" border="3" bordercolor="red">
                <tbody>
                    <tr>
                        <!-- BEGIN IMAGE / VIDEO Upload -->
                        <td class="col-sm-3">
                            <table class="table" border="3" bordercolor="blue">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div id="image">
                                                <p>снимка</p>
                                                <!-- <img id="image" src="images/logo.jpg"> -->
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="recipe-ingredients text-center">
                                            <ng-rate-it ng-model="rating" step="0.5" resetable="false" min="0" max="5" ng-attr-read-only="!canRate" ng-click="rate(recipe, rating)"></ng-rate-it>{{rating}}
                                            <p>Създадена на {{ date | date:'yyyy-MM-dd hh:mm'}}</p>
                                            <p>Съставки: <a href="http://www.ebag.bg/" title="ebag.bg" class="styled-a">Купи от ebag.bg</a></p>
                                            <div class="input-group ingredients-holder">
                                                <p ng-repeat="ingridient in recipe.ingredients">
                                                    {{ingridient.name}} - {{ingridient.quantity}} - {{ingridient.unit}}
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <!-- END IMAGE / VIDEO Upload -->
                        <!-- BEGIN RECIPE Form -->
                        <td class="col-sm-8" width="50%">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-1">
                                            <label for="form-category">Категория: </label>
                                        </td>
                                        <td class="col-sm-6">
                                            <div class="whole">
                                                <div class="input-group wide-text">
                                                    <p>{{category}}</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-1">
                                            <label for="form-dish">Ястие: </label>
                                        </td>
                                        <td class="col-sm-6">
                                            <div class="whole">
                                                <div class="input-group input-group-sm wide-text">
                                                    <p>{{recipe.dish}}</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-1">
                                            <label for="form-region">Област: </label>
                                        </td>
                                        <td class="col-sm-6">
                                            <div class="whole">
                                                <div class="input-group wide-text">
                                                    <p>{{region}}</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="description-holder recipe-text">
                                        <td class="col-sm-1">
                                            <label for="form-description">Начин на приготвяне: </label>
                                        </td>
                                        <td class="col-sm-6">
                                            <div class="input-group input-group-sm wide-text">
                                                <p>{{recipe.description}}</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <!-- END RECIPE Form -->
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table class="table" border="1" bordercolor="green">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-3" width="20%">
                                            <label for="form-servings">Порции: </label>
                                        </td>
                                        <td class="col-sm-1">
                                            <p>{{recipe.servings || 3}}</p>
                                        </td>
                                        <td class="col-sm-3">
                                            <label for="form-difficulty">Ниво на трудност: </label>
                                        </td>
                                        <td class="col-sm-1">
                                            <p>{{recipe.difficulty || 2}}</p>
                                        </td>
                                        <td class="col-sm-3">
                                            <label for="form-time">Време за приготвяне: *</label>
                                        </td>
                                        <td class="col-sm-1">
                                            <p>{{recipe.time}}</p>
                                        </td>
                                    </tr>
                                    <tr ng-if="recipe.otherOptions">
                                        <td class="col-sm-1">
                                            <label for="form-other-options">Други опции: *</label>
                                        </td>
                                        <td class="col-sm-6">
                                            <div class="whole">
                                                <div class="input-group wide-text" id="form-other-options">
                                                    <div class="checkbox" ng-if="recipe.otherOptions.vegeterian">
                                                        <label>Вегетарианска рецепта</label>
                                                    </div>
                                                    <div class="checkbox" ng-if="recipe.otherOptions.vegan">
                                                        <label>Веганска рецепта</label>
                                                    </div>
                                                    <div class="checkbox" ng-if="recipe.otherOptions.bio">
                                                        <label>Рецепта само с био храни</label>
                                                    </div>
                                                    <div class="checkbox" ng-if="recipe.otherOptions.allergy">
                                                        <label>Възможност за алергична реакция</label>
                                                    </div>
                                                </div>
                                                <div class="help-block">
                                                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" title="Изберете сезон, в който се приготвя ястието."></span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table class="table" border="2" bordercolor="orange">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-1">
                                            <label for="form-description">Добави в любими: </label>
                                        </td>
                                        <td class="icon">
                                            <button type="button" name="favorite"><i class="glyphicon glyphicon-heart"></i></button>
                                        </td>
                                        <td class="col-sm-1">
                                            <label for="form-description">Принтирай: </label>
                                        </td>
                                        <td class="icon">
                                            <button type="button" name="print"><i class="glyphicon glyphicon-print"></i></button>
                                        </td>
                                        <td class="col-sm-1">
                                            <label for="form-description">Запази в pdf: </label>
                                        </td>
                                        <td class="icon">
                                            <button type="button" name="saveAsPdf"><i class="  fa fa-file-pdf-o"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table class="table" border="2" bordercolor="orange">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-1">
                                            <label for="form-description">Сподели: </label>
                                        </td>
                                        <td class="icon">
                                            <button type="button" name="shareFacebook"><i class="fa fa-facebook-official"></i></button>
                                            <button type="button" name="shareGooglePlus"><i class="fa fa-google-plus"></i></button>
                                            <button type="button" name="shareTwitter"><i class="fa fa-twitter"></i></button>
                                        </td>
                                        <td class="col-sm-1">
                                            <label for="form-description">Добави нов вариант: </label>
                                        </td>
                                        <td class="icon">
                                            <button type="button" name="edit"><i class="glyphicon glyphicon-edit"></i></button>
                                        </td>
                                        <td class="col-sm-1">
                                            <label for="form-description">Купи приготвено ястие: </label>
                                        </td>
                                        <td class="icon">
                                            <button type="button" name="shoppingCart"><i class="fa fa-shopping-cart"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table class="table" border="2" bordercolor="orange">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-1">
                                            <label for="form-description">Напишете коментар: </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <form>
                                                <textarea type="text" name="comment"></textarea>
                                                <input type="submit" name="submitComment" value="Публикувай">
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <table class="table" border="2" bordercolor="orange">
                                                <tbody>
                                                    <tr>
                                                        <td class="col-sm-1">
                                                            <label for="form-description">Коментари: </label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
        </div>
    </div>
</div>
